@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
.new_bot__modal{
  @include positionAbsolute(50%, unset,unset,50%);
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 60rem;
  z-index: 100;
  background-color: $color-background-modal;
  padding: 2.5rem 2.5rem;
  border-radius: 1.2rem;
  min-height: 144px;
  max-height: calc(100vh - 140px);
  overflow: hidden;
  .title_form{
    @include textStyle(2.5rem, 600, 1.2, $color-black);
    margin-bottom: 3rem;
  }
  &-body {
    //overflow-y: scroll;
  }
  &-footer{
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}
.overlay{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $color-overlay;
  position: fixed;
  z-index: 10;
}