@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
.dialog{
  padding: 2.4rem;
  width: 30%;
  max-width: 60rem;
  z-index: 100;
  background-color: $color-background-modal;
  border-radius: 1.2rem;
  min-height: 144px;
  max-height: calc(100vh - 140px);
  overflow: hidden;
  @include positionAbsolute(50%, unset,unset,50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &_title{
      @include textStyle(2rem, 600, 1.2, $color-black);
  }
  &_body{
    flex: 1;
    .dialog_message{
      @include textStyle(1.4rem, 600, 1.2, $color-text-grey);
    }
  }
  &_footer{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 2rem;
  }

}