$color-black: #1C1C1C;
$color-white: #FFFFFF;
$color-grey: rgba(28, 28, 28, 0.1);
$color-grey01: #F7F9FB;
$color-grey02: #E4E4E7;
$color-main-background: #F4F4F6;
$color-on-background: #F9F9F9;
$color-main-green: #38c538;
$color-second-green: rgba(56, 197, 56, 0.3);
$color-third-green: rgba(56, 197, 56, 0.4);
$color-text-grey: rgba(6, 7, 9, 0.5);
$color-text-second-grey: rgba(6, 7, 9, 0.3);
$color-overlay: rgba(22,22,26,.6);
$color-background-modal: #f5f7fa;
$color-on-second-background: #F7F7FA;
$color-item-bg-selected:rgba(6,7,9,0.04);
$color-main-blue:#5B96F7;
$color-background-blue: rgb(57 125 230 / 20%);