@import "../../styles/abstracts/variables";
.chat {
  display: flex;
  //width: 100%;
  min-height: 100vh;
  background-color: $color-main-background;
  //background: linear-gradient(90deg, rgba(163, 89, 255, 0.11), rgba(0, 203, 255, 0.18));
  .safe_area{
    //padding: 3rem 3.5rem;
    width: 80%;
    max-height: 100vh;
  }
}