@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
.chat_area{
  width: calc(50% - 4rem/2);
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  margin: 2rem 0;
  border-radius: 0.8rem;
  background-color: $color-white;
  position: relative;
  transition: 0.25s linear all;
  &--full {
    width: calc(100% - 10rem/2);
  }
  &__title{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $color-grey;
    display: flex;
    justify-content: space-between;
    .side_bar_ic{
      @include dimension(3rem,3rem);
      padding: 0.2rem 0.8rem;
      border-radius: 0.5rem;
      @include flexMiddle();
      cursor: pointer;
      &:hover{
        background-color: $color-grey;
      }
    }
    span {
      @include textStyle(1.8rem, 600, 1.2, $color-black);
    }
  }
  &__message{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 5rem;
    position: relative;
    &::-webkit-scrollbar{
      display: none;
    }
    .chat_message__process {
      display: flex;
      .avatar_bot {
        @include dimension(5rem, 5rem);
        margin-left: 1rem;
        overflow: hidden;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
      .loading_message{
        //background-color: $color-main-blue;
        //padding: 0.5rem 2rem;
        //border-radius: 2.5rem;
        @include flexMiddle();
        margin-left: 1rem;
        gap: 1rem;
        .loading_item{
          @include dimension(1rem, 1rem);
          border-radius: 50%;
          background-color: $color-main-blue;
          animation: animate 1.5s ease-in-out infinite;
          transform: scale(0);
          &:nth-child(0){
            animation-delay: 0s;
          }
          &:nth-child(1){
            animation-delay: 0.2s;
          }
          &:nth-child(2){
            animation-delay: 0.4s;
          }
        }
      }
    }
  }
  @keyframes animate {
    0%, 100% {
      transform: scale(0.2);
      background-color: $color-main-blue;
    }
    40%{
      transform: scale(1);
      background-color: $color-main-green;
    }
    50%{
      transform: scale(1);
      background-color: red;
    }
  }

  .side_bar__container{
    //padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 0%;
    //height: calc(100% - 5.1rem);
    height: calc(100% - 5rem - 9rem);
    @include positionAbsolute(5.1rem, 0, unset, unset);
    background-color: $color-white;
    border: 1px solid $color-grey;
    //z-index: 11;
    border-radius: 0.5rem;
    transition: 0.2s ease-out all;
    overflow-x: hidden;
    &--show{
      width: 60%;
      max-width: 50rem;
    }
    .side_bar_item__container{
      margin: 2rem;
      max-height: calc(100% - 5rem);
      cursor: pointer;
      .side_bar_item__header{
        display: flex;
        justify-content: space-between;
        .ic_add{
          padding: 0rem 0.5rem;
          border-radius: 0.5rem;
          font-size: 2rem;
          &:hover{
            background-color: $color-grey;
          }
        }
      }
      .side_bar_item__title{
        @include textStyle(1.8rem, 600, 1.5, $color-text-grey);
      }
      .input_prompt{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        textarea{
          border-radius: 1.5rem;
          line-height: 1.2;
          max-height: 15rem;
          overflow-y: auto;
          resize: none;
          border: unset;
          //margin: 2rem;
          padding: 1rem 1.5rem;
          background-color: $color-background-modal;
          outline: none;
          font-size: 1.8rem;
        }
      }
      .knowledge__container{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        overflow: auto;
        .knowledge_item{
          display: flex;
          gap: 2rem;
          padding: 1rem;
          border-radius: 0.8rem;
          transition: 0.25s all linear;
          &:hover{
            background-color: $color-grey;
          }
          .knowledge_img{
            @include dimension(4.8rem, 4.8rem);
            border-radius: 0.8rem;
            overflow: hidden;
            img{
              @include dimension(100%,100%);
              object-fit: cover;
            }
          }
          .knowledge__content{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            .knowledge_title{
              @include textStyle(1.6rem, 600, 1.2, $color-black);
            }
            .knowledge_description{
              @include textStyle(1.4rem, 400, 1.2, $color-text-grey);
            }
          }
        }
      }
      &--max{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        //visibility: visible;
      }
    }

  }
  .message_noti{
    padding: 3rem;
    text-align: center;
    span{
      @include textStyle(2rem, 600, 1.5, $color-main-blue);
    }
  }
}